<div id="container">
    <div id="left-container">
        <div id="form-main">
            <form id="location" class="left">    
                <label for="question-location">Choose city live data</label><br />                   
                <input list="location-picker" id="location-pick" name="location-q"/>
                <datalist id="location-picker">
                    <option value="Cracow"></option>
                    <option value="Warsaw"></option>
                    <option value="New York"></option>
                </datalist>
            </form>
        </div>
        <div id="picture-of-location" class="left">
            Zdjęcie
        </div>
    </div>    
    <div id="main-data">
        <div class="data">Temperatura</div>
        <div class="data">Quality of air</div>
        <div class="data">Speed of wind</div>
        <div class="data">Humidity</div>
        <div class="data">Picture of condidion</div>
        <div class="data">Alerts</div>
    </div>
</div>