<div id="container">
    <div id="left-container">
        <div id="form-main">
            <form id="location" class="left">    
                <label for="city">Choose city live data</label><br />                   
                <select name="city" id="location1" (change)="weather_data($event)" >
                    <option value="" selected>Select City...</option>
                    <option value="kraków">Cracow</option>
                    <option value="warszawa">Warsaw</option>
                    <option value="nowy jork">New York</option>
                    <option value="biłgoraj">Biłgoraj</option>
                </select>
            </form>
        </div>
        <div id="picture-of-location" class="left">
            <img id=zdjęcie/>
        </div>
    </div>    
    <div id="main-data">
        <div id="date" class="data">Current date:<br> {{date}}</div>
        <div id="temperatura" class="data">Current temperature:<br> {{tem}}&deg;C</div>
        <div id="maxtemp" class="data">Max temperature:<br> {{maxtem}}&deg;C</div>
        <div id="mintemp" class="data">Min temperature:<br> {{mintem}}&deg;C</div>
        <div id="speed" class="data">Wind speed:<br> {{windSpeed}}km/h</div>
        <div id="humidity" class="data">Humidity:<br> {{humidity}}%</div>

       
    </div>
</div>
