<div id="container">
    <div id="left-container">
        <div id="form-main">
            <form id="location" class="left">    
                <label for="city">Choose city live data</label><br />                   
                <select name="city" id="location-picker" (change)="weather_data()">
                    <option value="Cracow">Cracow</option>
                    <option value="Warsaw">Warsaw</option>
                    <option value="New York">New York</option>
                </select>
            </form>
        </div>
        <div id="picture-of-location" class="left">
            Zdjęcie
        </div>
    </div>    
    <div id="main-data">
        <div class="data">Temperatura</div>
        <div class="data">Quality of air</div>
        <div class="data">Speed of wind</div>
        <div class="data">Humidity</div>
        <div class="data">Picture of condidion</div>
        <div class="data">Alerts</div>
    </div>
</div>
