<div id="container">
    <div id="title">CHECK YOURSELF</div>
    <div id="main">
        <div class="quiz" id="quiz1">
            <form id="questions1">
                <label for="1">Where is the higher mountain?</label><br>
                <select id="1" id="higher" (change)="disableSelect($event, 'mars')">
                    <option value="" disabled selected>Select answer...</option>
                    <option value="earth">Earth</option>
                    <option value="mars">Mars</option>
                </select>
            </form>
        </div>
        <div class="quiz" id="quiz2">
            <form id="questions2">
                <label for="2">Where the atmosphere is thinner?</label><br>
                <select id="2" id="atmosphere" (change)="disableSelect($event, 'mars')">
                    <option value="" disabled selected >Select answer...</option>
                    <option value="earth">Earth</option>
                    <option value="mars">Mars</option>
                </select>
            </form>
        </div>
        <div class="quiz" id="quiz3">
            <form id="questions3">
                <label for="3">On which planet does a day last longer?</label><br>
                <select id="3" id="longer-day" (change)="disableSelect($event, 'mars')">
                    <option value="" disabled selected>Select answer...</option>
                    <option value="earth">Earth</option>
                    <option value="mars">Mars</option>
                </select>
            </form>
        </div>
        <div class="quiz" id="quiz4">
            <form id="questions4">
                <label for="4">Will a radio signal reach from Earth to Mars at its closest position in less than 5 minutes?
                </label><br>
                <select id="4" id="radio" (change)="disableSelect($event, 'yes')">
                    <option value="" disabled selected>Select answer...</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </form>
        </div>
        <div class="quiz" id="quiz5">
            <form id="questions5">
                <label for="5">Is there water on Mars?</label><br>
                <select id="5" id="water" (change)="disableSelect($event, 'no')">
                    <option value="" disabled selected>Select answer...</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </form>
        </div>
        <div class="quiz" id="quiz6">
            <form id="questions6">
                <label for="6">Which planet formed faster?</label><br>
                <select id="6" id="faster" (change)="disableSelect($event, 'earth')">
                    <option value="" disabled selected>Select answer...</option>
                    <option value="earth">Earth</option>
                    <option value="mars">Mars</option>
                </select>
            </form>
        </div>
    </div>    
    <div id="footer">
        <div id="score" class="footer-div">
            Your score is: {{this.score}}
        </div>
        <div id="reset" class="footer-div">
            <form id="reset1">
                <button type="submit" id="btn" (click)="resetQuiz()">Reset</button>
            </form>
        </div>
    </div>    
</div>
