<div id="main">
    <div id="header">
        <div id="earth">
            <h1><a href="/earth">Earth</a></h1>
        </div>
        <div id="mars">
            <h1><a href="/mars">Mars</a></h1>
        </div>
        <div id="moon">
            <h1><a href="/moon">Moon</a></h1>
        </div>
        <div id="title" class="center">
            <h1><a href="/">
                <span>Space Knowladge</span>
                <span>Space Knowladge</span>
                <span>Space Knowladge</span>
            </a>
            </h1>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

